.folderImage {
    height: 12em !important;
    background-image: url(../../images/BlueFolder.jpg) !important;
    background-position-x: center !important;
    background-blend-mode: overlay !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.pictureIcon {
    display: flex !important;
    justify-content: flex-end !important;
}